body{
    margin: 0 0 0 0 ;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
}

.web{
    position: relative;
}


/* Start tieu de  */

#tieuDe{
    height: 60px;
    width: 100%;
    background-color:azure;
    font-size: 10px;
    position: fixed;
    top:0;
    z-index: 2;
}

.tieuDe_noiDung{
    display: flex;
    justify-content: space-between;
}

.tieuDe__link,
.tieuDe__action{
    font-size:17px;
    margin-top:15px;
}
.tieuDe__link {
    margin-left:12px;
}

.tieuDe__action a{
    padding-right: 35px ;
    font-weight: 200;
    color: black;
}


.tieuDe__link:hover,
.tieuDe__action a:hover{
    opacity: 0.7;
}

/* end tieu de */



/* start dieu huong */

#dieuHuong{
    height: 46px;
    background-color:darkgrey;
    width: 90%;
    margin: 60px auto 10px auto;
}

#chiTiet{
    display: inline-block;
    height: 30px;
    margin: 0;
}

#chiTiet >li{
    display: inline-block;

}

#chiTiet, .chiTiet__tLoai{
    list-style: none;
}


#chiTiet li a{
    color: black;
    display: block;
    padding:0 23px;
    line-height: 46px;
}

#chiTiet >li> a{
    text-transform: uppercase;
}



/* chi tiet the loai*/

#nav li{
    position: relative;
}

#chiTiet .chiTiet__tLoai li:hover,
#chiTiet >li:hover> a{
    color: #000;
    background-color: #ccc;
}

#chiTiet li:hover .chiTiet__tLoai{
    display: block;
}

#chiTiet .chiTiet__tLoai{
    display: none;
    min-width: 160px;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    z-index: 1;

}

#chiTiet .chiTiet__tLoai a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}




/* end the loai */


#chiTiet ul{
    padding: 0 2px;
}

#chiTiet .ti-angle-down{
    font-size: 12px;
}

.timkiem{
    float: right;
    line-height: 46px;
    padding: 0 6px;
}

/* end dieu huong */

#noiDungTruyen{
    width: 90%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    position: relative;
}

.truyen1 {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid #ccc;
    margin-right: 60px;
  }
  
  .truyen1__noiDung {
    flex: 1;
  }
  
  .truyen__anh {
    flex: 0;
    margin-left: 10px;
    
  }
  img {
    display: block;
    max-width:230px;
    max-height:140px;
    width: auto;
    height: auto;
  }

  
  .truyen__danhSach {
    flex: 1;
  }
  
  /* start truyen moi nhat */
  .truyen__moinhat {
    display: block;
    flex: 0.3;
    margin: 0 25px 0 5px;
    /* position: absolute; */
    /* top:0; */
    /* right: 20px; */
    border: 1px solid #000;
    width: 25%;
    align-self: flex-start;
  }

 .truyen__tieuDe{
        padding: 0 60px;
  }

  .truyen__moinhat-ds{
        padding: 0;
  }
  .truyen__moinhat-ds li{
        border-top: 1px solid #000;
        list-style: none;
        padding: 0 10px;
        

  }
  .truyen__moinhat-ds li .truyen__icon{
    color: #000;
  }

  .truyen__moinhat .truyen__tieuDe{
        padding: 0 10px ;
  }

.ti-angle-right{
    float :right;
    color: #8a0b26;
    font-size: 14px;

  }



  /* end truyen moi nhat */

  .truyen_trangKhac{
    margin-left: 600px;
    text-align: center;
    height: 30px;
  }

  .truyen_trangKhac li{
    line-height: 30px;
    font-size: larger;
    padding: 5px 15px;
    border: 1px solid gray;
    float: left;
    list-style:none;
    background-color: rgb(221, 234, 229);
  }

  /* footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .footer-cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .footer-col {
    flex: 1;
    margin-right: 30px;
  }
  
  .footer-col h3 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
  }
  
  .social-icons li a:hover {
    color: #ffcd00;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .footer-bottom ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-bottom ul li {
    margin-right: 20px;
  }
  
  .footer-bottom ul li a {
    color: #fff;
  }
  
  .footer-bottom ul li a:hover {
    color: #ffcd00;
  }

  /* end foo */
